.monospace-body {
    font: 15px "Fira Mono", sans-serif;
}

.monospace-header {
    font-family: "Share Tech Mono", sans-serif !important;
}

.content-box {
    background: #292b2e;
    padding: 0.5em 1.2em;
    width: 100%;
    margin-bottom: 2em;
    line-height: 1.5em;
    -webkit-transition: all 0ms, transform 200ms ease;
    -moz-transition: transform 200ms ease;
    -o-transition: transform 200ms ease;
    transition: all 0ms;
}

.bottom-right-box {
    background: #191b1e;
    font-weight: 600;
    font-size: 1.1em;
    position: fixed;
    padding: 10px;
    bottom: 0px;
    right: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
}

.accent-orange {
    color: #d18547;
}

.accent-pink {
    color: #d23f95;
}

@media only screen and (min-width: 640px) {

    .content-box {
        width: 30em;
    }
}
