.border-teal {
    border-left: 3px solid #00b2bd;
}

.border-pink {
    border-left: 3px solid #f2289b;
}

.accent-teal {
    color: #00b2bd;
}

.accent-pink {
    color: #f2289b;
}

.screenshot-container {
    overflow: auto;
    white-space: nowrap;
}

.screenshot {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 1rem;
}

.hero {
    max-width:100%;
    max-height:100%;
}
