body {
  font: 16px "Roboto", sans-serif;
  letter-spacing: 0.25px;
  font-weight: 400;
  line-height: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.modal-title {
  font-family: "Barlow", sans-serif;
}
code,
pre {
  font-family: "Fira Code", monospace;
}
* {
  box-sizing: border-box;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.indented {
  margin-left: 2rem;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2em;
}
h1 {
  font-size: 48px;
  font-weight: 100;
}
h2 {
  font-size: 34px;
  font-weight: 300;
}
h3 {
  font-size: 28px;
  font-weight: 400;
}
h4 {
  font-size: 24px;
  font-weight: 400;
}
h5 {
  font-size: 20px;
  font-weight: 500;
}
h6 {
  font-size: 18px;
  font-weight: 500;
}
strong {
  font-weight: 700;
}
.small {
  font-size: 0.8rem;
}
::-moz-selection {
  background-color: rgba(0, 169, 185, 0.3);
}
::selection {
  background-color: rgba(0, 169, 185, 0.3);
}
a {
  -webkit-transition: all 220ms ease 80ms;
  -moz-transition: all 220ms ease 80ms;
  -o-transition: all 220ms ease 80ms;
  transition: all 220ms ease 80ms;
  cursor: pointer;
  color: #00a9b9;
  text-decoration: none;
}
a:hover,
a:active {
  color: #00cadd;
  text-decoration: underline;
}
p {
  margin-bottom: 1rem;
}
img {
  max-width: 100%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
ul,
ol {
  margin-top: 0;
}
hr {
  display: block;
  width: 100%;
  margin: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  border: 0;
}
.body-light hr {
  border-top: 1px solid #ffffff;
}
.body-dark hr {
  border-top: 1px solid #373a3f;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
textarea {
  resize: vertical;
}
.wrapper {
  width: 42rem;
  max-width: 90%;
  margin: 2rem auto;
}
.main aside {
  padding: 0px 5% 10px;
}
.body-light {
  background: #f6f6f6;
  color: #383838;
}
.body-dark {
  background: #1f2124;
  color: #cacaca;
}
.block {
  padding: 0.7rem 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.4rem;
}
.block h1:first-of-type,
.block h2:first-of-type,
.block h3:first-of-type,
.block h4:first-of-type {
  font-weight: 300;
  margin-top: 0;
}
.block-accent {
  border-left: 3px solid #00a9b9;
}
.block-accent-alt {
  border-left: 3px solid #e23281;
}
.accent-color {
  color: #00a9b9;
}
.accent-color-alt {
  color: #e23281;
}
a.accent-color-alt:hover,
a.accent-color-alt:active {
  color: #e65194;
}
.screenshot-container {
  overflow: auto;
  white-space: nowrap;
}
.screenshot {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin: 1rem;
}
.hero {
  max-width: 100%;
  max-height: 100%;
}
.footer-container {
  width: 100%;
  padding: 1rem 0;
  font-size: 0.85rem;
}
.footer-container-light {
  border-top: 1px solid #e0e0e0;
}
.footer-container-dark {
  border-top: 1px solid #242629;
}
@media only screen and (min-width: 480px) {
  .main article.right {
    width: 100%;
    float: left;
  }
  .main aside.right {
    width: 90%;
    float: none;
  }
  .main article.left {
    width: 100%;
    float: left;
  }
  .main aside.left {
    width: 90%;
    float: none;
  }
}
@media only screen and (min-width: 960px) {
  .main aside {
    padding: 5px;
  }
  .main article.right {
    width: 57%;
    float: right;
  }
  .main aside.right {
    width: 38%;
    float: right;
  }
  .main article.left {
    width: 57%;
    float: left;
  }
  .main aside.left {
    width: 38%;
    float: left;
  }
}
.button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  margin: 5px 0;
  text-decoration: none;
  -webkit-transition: all 220ms ease 80ms;
  -moz-transition: all 220ms ease 80ms;
  -o-transition: all 220ms ease 80ms;
  transition: all 220ms ease 80ms;
}
.body-light .button {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
}
.body-dark .button {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
}
.body-light .button {
  background: #f1f1f1;
  color: #383838;
}
.body-light .button:hover {
  background: #00cadd;
  color: #cacaca;
}
.body-dark .button {
  background: #303337;
  color: #cacaca;
}
.body-dark .button:hover {
  background: #008895;
  color: #cacaca;
}
.button-rect {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 7px 12px;
  border-radius: 5px;
}
.button-color {
  background: #00a9b9;
  color: #cacaca;
}
.button-color:hover {
  background: #00cadd;
  color: #cacaca;
}
.text-view {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.body-light .text-view {
  background: #e4e4e4;
  color: #383838;
}
.body-dark .text-view {
  background: #242629;
  color: #cacaca;
}
textarea,
input[type="text"],
input[type="password"],
input[type="number"] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 5px 0;
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 0.9em;
  -webkit-transition: all 220ms ease 80ms;
  -moz-transition: all 220ms ease 80ms;
  -o-transition: all 220ms ease 80ms;
  transition: all 220ms ease 80ms;
}
.body-light textarea,
.body-light input[type="text"],
.body-light input[type="password"],
.body-light input[type="number"] {
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.35), inset 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.35), inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.35), inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.body-dark textarea,
.body-dark input[type="text"],
.body-dark input[type="password"],
.body-dark input[type="number"] {
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.13), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.13), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.13), inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border: 1px solid #008895;
}
.body-light textarea,
.body-light input[type="text"],
.body-light input[type="password"],
.body-light input[type="number"] {
  background: #f1f1f1;
  color: #383838;
}
.body-dark textarea,
.body-dark input[type="text"],
.body-dark input[type="password"],
.body-dark input[type="number"] {
  background: #242629;
  color: #cacaca;
}
.text-input-error {
  border: 1px solid #ff2e10 !important;
}
.select-container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline-block;
  position: relative;
  height: 26px;
  margin-top: 4px;
  padding: 0px 6px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: all 220ms ease 80ms;
  -moz-transition: all 220ms ease 80ms;
  -o-transition: all 220ms ease 80ms;
  transition: all 220ms ease 80ms;
}
.body-light .select-container {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
}
.body-dark .select-container {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
}
.select-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  height: 26px;
  margin-top: 0px;
  padding-left: 3px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.9em;
  font-weight: 400;
  -webkit-transition: all 220ms ease 80ms;
  -moz-transition: all 220ms ease 80ms;
  -o-transition: all 220ms ease 80ms;
  transition: all 220ms ease 80ms;
}
.select-container::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  position: absolute;
  top: 2px;
  right: 3px;
  transform: rotate(90deg);
  font-size: 19px;
  font-weight: 300;
  content: '‹›';
  pointer-events: none;
}
option {
  color: black;
}
.slider-container {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 4px;
}
input[type="range"] {
  -webkit-appearance: none !important;
  display: inline-block;
  outline: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-moz-range-track {
  background: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-transition: all 220ms ease 80ms;
  -moz-transition: all 220ms ease 80ms;
  -o-transition: all 220ms ease 80ms;
  transition: all 220ms ease 80ms;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  border-radius: 10px;
  background: #303337;
}
.body-light input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
}
.body-dark input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
}
.body-light input[type="range"]::-webkit-slider-thumb {
  background: #f1f1f1;
  color: #383838;
}
.body-light input[type="range"]::-webkit-slider-thumb:hover {
  background: #00cadd;
  color: #cacaca;
}
.body-dark input[type="range"]::-webkit-slider-thumb {
  background: #303337;
  color: #cacaca;
}
.body-dark input[type="range"]::-webkit-slider-thumb:hover {
  background: #008895;
  color: #cacaca;
}
input[type="range"]::-moz-range-thumb {
  -webkit-transition: all 220ms ease 80ms;
  -moz-transition: all 220ms ease 80ms;
  -o-transition: all 220ms ease 80ms;
  transition: all 220ms ease 80ms;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  border-radius: 10px;
  background: #303337;
  border: none;
  outline: none;
}
.body-light input[type="range"]::-moz-range-thumb {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
}
.body-dark input[type="range"]::-moz-range-thumb {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
}
.body-light input[type="range"]::-moz-range-thumb {
  background: #f1f1f1;
  color: #383838;
}
.body-light input[type="range"]::-moz-range-thumb:hover {
  background: #00cadd;
  color: #cacaca;
}
.body-dark input[type="range"]::-moz-range-thumb {
  background: #303337;
  color: #cacaca;
}
.body-dark input[type="range"]::-moz-range-thumb:hover {
  background: #008895;
  color: #cacaca;
}
.body-light input[type="range"] {
  background: #f1f1f1;
}
.body-dark input[type="range"] {
  background: #242629;
}
.slider-container-vertical input[type="range"] {
  -webkit-transform: translate(-50%, 0) rotate(90deg) translate(50%, 0);
  -webkit-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.08), inset 1px 0px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.08), inset 1px 0px 2px rgba(0, 0, 0, 0.35);
  margin: 0 5px;
  box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.08), inset 1px 0px 2px rgba(0, 0, 0, 0.35);
}
input[type="range"],
.progress-bar-track {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  height: 8px;
  margin: 5px 0;
  border-radius: 4px;
}
.body-light input[type="range"],
.body-light .progress-bar-track {
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.35), inset 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.35), inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.35), inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.body-dark input[type="range"],
.body-dark .progress-bar-track {
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.13), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.13), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.13), inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
.progress-bar-track {
  margin: auto;
  padding: 1.5px 1.5px 0;
}
.body-light .progress-bar-track {
  background: #f1f1f1;
}
.body-dark .progress-bar-track {
  background: #242629;
}
.progress-bar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  height: 7px;
  border-radius: 4px;
  background: #00a9b9;
}
.modal-container {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.modal {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.33);
  position: relative;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.33);
}
.body-light .modal {
  background: #f6f6f6;
  color: #383838;
}
.body-dark .modal {
  background: #1f2124;
  color: #cacaca;
}
.modal-header {
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  height: 3.0em;
  border-radius: 5px 5px 0px 0px;
}
.body-light .modal-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
}
.body-dark .modal-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
}
.body-light .modal-header {
  background: #e4e4e4;
}
.body-dark .modal-header {
  background: #303337;
}
.modal-title {
  display: inline-block;
  margin: 0.75em 1em;
  font-size: 1.2em;
  font-weight: 300;
}
.modal-close-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-border-radius: 0px 5px 0px 0px;
  -moz-border-radius: 0px 5px 0px 0px;
  display: inline-block;
  height: 3.0em;
  padding: 0 7.5px;
  float: right;
  border-radius: 0px 5px 0px 0px;
  background: #242629;
  color: #d6352b;
  line-height: 3.0em;
  text-decoration: none;
  -webkit-transition: all 220ms ease 80ms;
  -moz-transition: all 220ms ease 80ms;
  -o-transition: all 220ms ease 80ms;
  transition: all 220ms ease 80ms;
}
.body-light .modal-close-button {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.2);
}
.body-dark .modal-close-button {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33), inset 0 1px 1px rgba(255, 255, 255, 0.13);
}
.modal-close-button:hover {
  background: #ad2a21;
  color: #cacaca;
  text-decoration: none;
}
.modal-content {
  padding: 1.1em;
}
@media only screen and (max-width: 640px) {
  .modal {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
}
@media only screen and (min-width: 640px) {
  .modal {
    top: 5%;
    width: 45%;
  }
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
