---
layout: blank
description: jackw01.github.io
image: logo.png
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include head.html %}
  </head>
  <body class="homepage">
    <header class="page-header">
      <div class="main-content content-wrapper-thin">
        <h1>hi</h1>
        <!--<span class="float-right site-logo">
                            <a class="site-logo-link" href="{{ site.url }}">J</a>
                          </span>-->
        <h6 class="header-small">i'm jack whittaker, a computer science and engineering student.</h6>
        <h6 class="header-small">i like to make things.</h6>
      </div>
    </header>
    <main id="content" class="main-content content-wrapper-wide" role="main">
      <div class="homepage-grid">
        <div class="homepage-card-container-wide">
          <a class="homepage-card homepage-card-featured" href="https://jackw01.github.io/ripplecounter/">
            <img src="assets/img/ripplecounter-large.jpg"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">ripplecounter</div>
              Sensorless brushed DC motor position control with Raspberry Pi Pico
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <a class="homepage-card" href="https://jackw01.github.io/macro-rail/">
            <img src="assets/img/macrorail.jpg"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">macro rail</div>
              Mostly 3D printed camera slider for focus stacking macrophotography
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <a class="homepage-card" href="https://jackw01.github.io/smallXY/">
            <!--<img src="assets/img/corexy-01.png"></img>-->
            <img src="assets/img/smallxy.jpg"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">smallXY</div>
              Compact and very fast CoreXY 3D printer with linear rails
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <a class="homepage-card" href="https://jackw01.github.io/led-control/">
            <img src="assets/img/ledcontrol.png"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">LED control</div>
              Advanced addressable LED controller with web interface for Raspberry Pi
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <a class="homepage-card" href="https://jackw01.github.io/glowstick/">
            <img src="assets/img/glowstick-01.png"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">glowstick</div>
              RGB/White LED tube light for photo, video, and light painting use
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <a class="homepage-card" href="https://jackw01.github.io/testbot86/">
            <img src="assets/img/testbot86.png"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">testbot86</div>
              86mm square mobile robot platform with a Raspberry Pi Zero
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <a class="homepage-card" href="https://jackw01.github.io/liora">
            <img src="assets/img/liora-01.png"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">liora</div>
              Modular and extensible Node.js Discord bot
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <div class="homepage-card" href="https://marketplace.visualstudio.com/items?itemName=jackw01.summer-night-theme">
            <img src="assets/img/summer-night.png"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">summer-night-theme</div>
              Clean and vibrant dark theme for <a
                href="https://marketplace.visualstudio.com/items?itemName=jackw01.summer-night-theme">VS Code</a> and <a
                href="https://atom.io/themes/summer-night-syntax">Atom</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="main-content content-wrapper-thin">
        <div class="homepage-block">
          <h4>Other Projects</h4>
          <a href="https://github.com/jackw01/serial-grapher">serial-grapher</a> Tool for graphing and logging CSV data received over a serial port<br>
          <a href="https://github.com/jackw01/npm-license-scraper">npm-license-scraper</a> Tool for collecting the licenses of dependencies of a Node.js project<br>
          <a href="https://github.com/jackw01/arduino-pid-autotuner">pid-autotuner</a> C++ library for automatically tuning PID control loops<br>
          <a href="https://github.com/jackw01/l3gd20-python">l3gd20-python</a> Python library for the L3GD20 3-axis I2C gyroscope<br>
          <a href="https://github.com/jackw01/lsm303-python">lsm303-python</a> Python library for the LSM303 3-axis I2C accelerometer/magnetometer<br>
          <a href="https://github.com/jackw01/raspi-python-st7735">raspi-python-st7735</a> Python library for using ST7735 LCDs on a Raspberry Pi<br>
          <a href="https://github.com/jackw01/fusion360-cycloidal-drive">fusion360-cycloidal-drive</a> Fusion 360 script for generating cycloidal drives<br>
          <a href="https://github.com/jackw01/gridslice">gridslice</a> Command line tool for slicing images on a grid<br>
          <a href="https://github.com/jackw01/led-ring-clock">LED ring clock</a> Arduino-based RGB LED analog clock<br>
        </div>
        <div class="homepage-block">
          <h4>Web Tools</h4>
          <a href="https://jackw01.github.io/triangulator2-app/build/">triangulator2</a> SVG triangle art generator<br>
          <a href="https://jackw01.github.io/imdl">imdl</a> Quick Imgur album and caption downloader<br>
          <a href="https://jackw01.github.io/strange-attractors">strange attractors</a> Make beautiful renderings of strange
          attractors<br>
        </div>
      </div>
      <hr>
      <h4>3D Printable Designs</h4>
      <div class="homepage-grid">
        <div class="homepage-card-container">
          <a class="homepage-card homepage-card-featured" href="pages/backpack-hanger">
            <img src="assets/img/hanger2.jpg"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">backpack hanger 2.0</div>
              3D printable folding hanging hook for backpacks and more
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <a class="homepage-card homepage-card-featured" href="pages/bag-clip">
            <img src="assets/img/bagclip.jpg"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">bag clip</div>
              3D printable bag clip that really seals your bags
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <a class="homepage-card homepage-card-featured" href="pages/phone-clamp">
            <img src="assets/img/phoneclamp.jpg"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">phone mount 2.0</div>
              3D printable phone clamp with GoPro-compatible mount
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <a class="homepage-card" href="pages/modular-mounts">
            <img src="assets/img/modularmounts.jpg"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">modular mounts</div>
              3D printable GoPro-compatible mounts for cameras and phones
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <a class="homepage-card" href="pages/phone-stand">
            <img src="assets/img/phonestand.jpg"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">thin phone stand</div>
              3D printable credit-card-sized folding phone stand
            </div>
          </a>
        </div>
        <div class="homepage-card-container">
          <a class="homepage-card" href="pages/debur-handle">
            <img src="assets/img/deburhandle.jpg"></img>
            <div class="homepage-card-text">
              <div class="homepage-card-heading">deburring tool handle</div>
              3D printable deburring tool handle for standard 0.125" blades
            </div>
          </a>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>


