<footer class="site-footer">
  <div class="main-content content-wrapper-thin">
    <span class="float-left">
      copyright {{ "now" | date: "%Y" }} jack whittaker (jackw01).
    </span>
    <span class="float-left">
      <a class="social" href="https://www.github.com/jackw01/">github</a>
      <a class="social" href="https://www.linkedin.com/in/jack-whittaker-b35961183/">linkedin</a>
      <a class="social" href="mailto:01jrw01@gmail.com">01jrw01@gmail.com</a>
    </span>
    <br>
  </div>
</footer>
