<footer class="site-footer">
  <span class="float-left">
    © {{ "now" | date: "%Y" }} {{ site.owner_name }} (<a class="secondary" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>)<br>
  </span>
  <span class="float-right">
    <a class="secondary social" href="https://www.github.com/jackw01/"><i class="fab fa-github fa-lg"></i></a>
    <a class="secondary social" href="https://www.linkedin.com/in/jack-whittaker-b35961183/"><i class="fab fa-linkedin-in fa-lg"></i></a>
    <a class="secondary social" href="https://www.instagram.com/jrw01_/"><i class="fab fa-instagram fa-lg"></i></a>
    <a class="secondary social" href="mailto:01jrw01@gmail.com">01jrw01@gmail.com</a>
    <!--<a href="https://www.instagram.com/jrw01_/"><i class="fab fa-behance fa-lg"></i></i></a>-->
  </span>
</footer>
