<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include head.html %}
    <title>{{site.title}} | alley cat engineering</title>
    {% if site.hide_first_h1 %}
    <style>
      #md-content>h1:first-child {
        display: none;
      }

      #md-content>*:nth-child(2) {
        margin-top: 2;
      }
    </style>
    {% endif %}
  </head>
  <body>
    <main id="content" class="main-content content-wrapper-thin" role="main">
      <h1 class="gradient-text">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% if site.nav_items %}
      <ul class="nav">
        {% for link in site.nav_items %}
        {% if page.url contains link.url %}
        <li class="active"><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% else %}
        <li><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      {% if site.custom_buttons %}
      {% for link in site.custom_buttons %}
      <a href="{{ link.url }}" class="button">{{ link.text }}</a>
      {% endfor %}
      {% endif %}
      <div id="md-content">
        {{ content }}
      </div>
    </main>
    {% include footer-alleycatengineering.html %}
  </body>
</html>
