<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header-nav.html %}
    <main id="content" class="main-content" role="main">
      <h1 class="header-stylized-text">{{ page.title }}</h1>
      {{ content }}
      {% if page.footer %}
        <footer class="site-footer">
          © 2019 <a class="secondary" href="{{ site.github.owner_url }}">@{{ site.github.owner_name }}</a>
        </footer>
      {% endif %}
    </main>
  </body>
</html>
